ch-polarizados-backup.json
{
  "name": "CH Polarizados - MySQL Backup",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24,
              "triggerAtHour": 2
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Cron 2am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "jsCode": "// Inicializar datos del backup\nconst staticData = $getWorkflowStaticData('global');\nstaticData.sqlChunks = [];\nstaticData.createStatements = {};\nstaticData.currentTable = null;\n\nconst now = new Date();\nconst pad = n => String(n).padStart(2, '0');\nconst timestamp = `${now.getFullYear()}${pad(now.getMonth()+1)}${pad(now.getDate())}_${pad(now.getHours())}${pad(now.getMinutes())}${pad(now.getSeconds())}`;\n\nstaticData.timestamp = timestamp;\nstaticData.filename = `ch_polarizados_backup_${timestamp}.sql`;\n\nreturn [{ json: { timestamp, filename: staticData.filename } }];"
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Preparar Backup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT TABLE_NAME as tableName FROM information_schema.TABLES WHERE TABLE_SCHEMA = DATABASE() AND TABLE_NAME NOT LIKE '_prisma%' AND TABLE_TYPE = 'BASE TABLE' ORDER BY TABLE_NAME",
        "options": {}
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Obtener Tablas",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [600, 300],
      "credentials": {
        "mySql": {
          "id": "REEMPLAZAR_CON_ID_CREDENCIAL_MYSQL",
          "name": "MySQL Railway"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Por Tabla",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [800, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SHOW CREATE TABLE `{{ $json.tableName }}`",
        "options": {}
      },
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Schema Tabla",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [1000, 160],
      "credentials": {
        "mySql": {
          "id": "REEMPLAZAR_CON_ID_CREDENCIAL_MYSQL",
          "name": "MySQL Railway"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst tableName = item.json['Table'];\nconst createStatement = item.json['Create Table'];\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.createStatements) staticData.createStatements = {};\nstaticData.createStatements[tableName] = createStatement;\nstaticData.currentTable = tableName;\n\nreturn [{ json: { tableName, createStatement } }];"
      },
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "Guardar Schema",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 160]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM `{{ $json.tableName }}`",
        "options": {}
      },
      "id": "a1b2c3d4-0007-0007-0007-000000000007",
      "name": "Leer Datos Tabla",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [1400, 160],
      "credentials": {
        "mySql": {
          "id": "REEMPLAZAR_CON_ID_CREDENCIAL_MYSQL",
          "name": "MySQL Railway"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.sqlChunks) staticData.sqlChunks = [];\n\nconst tableName = staticData.currentTable;\nconst createStatement = staticData.createStatements?.[tableName] || `-- CREATE TABLE ${tableName} no disponible`;\n\nlet sql = `\\n-- ----------------------------\\n-- Tabla: ${tableName}\\n-- ----------------------------\\n`;\nsql += `DROP TABLE IF EXISTS \\`${tableName}\\`;\\n`;\nsql += createStatement + ';\\n';\n\nif (items.length > 0) {\n  sql += `\\n-- Datos: ${tableName} (${items.length} filas)\\n`;\n  for (const item of items) {\n    const row = item.json;\n    const values = Object.values(row).map(val => {\n      if (val === null || val === undefined) return 'NULL';\n      if (typeof val === 'number') return String(val);\n      if (typeof val === 'boolean') return val ? '1' : '0';\n      if (val instanceof Date) return `'${val.toISOString().slice(0,19).replace('T',' ')}'`;\n      const str = String(val);\n      const escaped = str.replace(/\\\\/g, '\\\\\\\\').replace(/'/g, \"\\\\'\")\n        .replace(/\\r/g, '\\\\r').replace(/\\n/g, '\\\\n');\n      return `'${escaped}'`;\n    });\n    sql += `INSERT INTO \\`${tableName}\\` VALUES (${values.join(', ')});\\n`;\n  }\n} else {\n  sql += `-- (tabla vacía)\\n`;\n}\n\nstaticData.sqlChunks.push(sql);\n\nreturn [{ json: { tableName, rowCount: items.length } }];"
      },
      "id": "a1b2c3d4-0008-0008-0008-000000000008",
      "name": "Construir SQL Tabla",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1600, 160]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const staticData = $getWorkflowStaticData('global');\n\nconst now = new Date();\nconst header = [\n  `-- ============================================`,\n  `-- CH Polarizados - Database Backup`,\n  `-- Generado: ${now.toISOString()}`,\n  `-- Base de datos: railway (MySQL)`,\n  `-- ============================================`,\n  ``,\n  `SET FOREIGN_KEY_CHECKS=0;`,\n  `SET SQL_MODE = 'NO_AUTO_VALUE_ON_ZERO';`,\n  `SET NAMES utf8mb4;`,\n  ``\n].join('\\n');\n\nconst footer = `\\n\\nSET FOREIGN_KEY_CHECKS=1;\\n-- Fin del backup\\n`;\n\nconst chunks = staticData.sqlChunks || [];\nconst fullSQL = header + chunks.join('\\n') + footer;\nconst filename = staticData.filename || `ch_polarizados_backup_${Date.now()}.sql`;\nconst sizeKB = (Buffer.byteLength(fullSQL, 'utf8') / 1024).toFixed(2);\n\n// Crear archivo binario\nconst binaryData = await this.helpers.prepareBinaryData(\n  Buffer.from(fullSQL, 'utf8'),\n  filename,\n  'application/sql'\n);\n\n// Limpiar datos estáticos\nstaticData.sqlChunks = [];\nstaticData.createStatements = {};\nstaticData.currentTable = null;\n\nreturn [{\n  json: {\n    filename,\n    sizeKB,\n    timestamp: staticData.timestamp,\n    tablesCount: chunks.length\n  },\n  binary: { data: binaryData }\n}];"
      },
      "id": "a1b2c3d4-0009-0009-0009-000000000009",
      "name": "Ensamblar SQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 440]
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "={{ $json.filename }}",
        "inputDataFieldName": "data",
        "options": {
          "folderId": {
            "__rl": true,
            "mode": "id",
            "value": "REEMPLAZAR_CON_ID_CARPETA_DRIVE"
          }
        }
      },
      "id": "a1b2c3d4-0010-0010-0010-000000000010",
      "name": "Subir a Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1200, 440],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REEMPLAZAR_CON_ID_CREDENCIAL_DRIVE",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst filename = input.filename || 'backup.sql';\nconst sizeKB = input.sizeKB || '?';\nconst tablesCount = input.tablesCount || '?';\nconst timestamp = input.timestamp || new Date().toISOString();\n\nreturn [{\n  json: {\n    message: `✅ *Backup CH Polarizados completado*\\n\\n📁 Archivo: \\`${filename}\\`\\n📦 Tamaño: ${sizeKB} KB\\n🗂 Tablas: ${tablesCount}\\n⏰ ${timestamp}\\n\\n💾 Guardado en Google Drive`\n  }\n}];"
      },
      "id": "a1b2c3d4-0011-0011-0011-000000000011",
      "name": "Preparar Éxito",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 440]
    },
    {
      "parameters": {
        "chatId": "REEMPLAZAR_CON_CHAT_ID_TELEGRAM",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "a1b2c3d4-0012-0012-0012-000000000012",
      "name": "Telegram Éxito",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1600, 440],
      "credentials": {
        "telegramApi": {
          "id": "REEMPLAZAR_CON_ID_CREDENCIAL_TELEGRAM",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {},
      "id": "a1b2c3d4-0013-0013-0013-000000000013",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [200, 640]
    },
    {
      "parameters": {
        "jsCode": "const error = $input.first().json;\nconst errorMessage = error.error?.message || error.message || 'Error desconocido';\nconst nodeName = error.error?.node?.name || 'Nodo desconocido';\nconst timestamp = new Date().toLocaleString('es-CO', { timeZone: 'America/Bogota' });\n\nreturn [{\n  json: {\n    message: `❌ *Error en Backup CH Polarizados*\\n\\n🔴 Nodo: ${nodeName}\\n💬 ${errorMessage}\\n⏰ ${timestamp}`\n  }\n}];"
      },
      "id": "a1b2c3d4-0014-0014-0014-000000000014",
      "name": "Preparar Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 640]
    },
    {
      "parameters": {
        "chatId": "REEMPLAZAR_CON_CHAT_ID_TELEGRAM",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "a1b2c3d4-0015-0015-0015-000000000015",
      "name": "Telegram Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [600, 640],
      "credentials": {
        "telegramApi": {
          "id": "REEMPLAZAR_CON_ID_CREDENCIAL_TELEGRAM",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Cron 2am": {
      "main": [[{ "node": "Preparar Backup", "type": "main", "index": 0 }]]
    },
    "Preparar Backup": {
      "main": [[{ "node": "Obtener Tablas", "type": "main", "index": 0 }]]
    },
    "Obtener Tablas": {
      "main": [[{ "node": "Por Tabla", "type": "main", "index": 0 }]]
    },
    "Por Tabla": {
      "main": [
        [{ "node": "Schema Tabla", "type": "main", "index": 0 }],
        [{ "node": "Ensamblar SQL", "type": "main", "index": 0 }]
      ]
    },
    "Schema Tabla": {
      "main": [[{ "node": "Guardar Schema", "type": "main", "index": 0 }]]
    },
    "Guardar Schema": {
      "main": [[{ "node": "Leer Datos Tabla", "type": "main", "index": 0 }]]
    },
    "Leer Datos Tabla": {
      "main": [[{ "node": "Construir SQL Tabla", "type": "main", "index": 0 }]]
    },
    "Construir SQL Tabla": {
      "main": [[{ "node": "Por Tabla", "type": "main", "index": 0 }]]
    },
    "Ensamblar SQL": {
      "main": [[{ "node": "Subir a Drive", "type": "main", "index": 0 }]]
    },
    "Subir a Drive": {
      "main": [[{ "node": "Preparar Éxito", "type": "main", "index": 0 }]]
    },
    "Preparar Éxito": {
      "main": [[{ "node": "Telegram Éxito", "type": "main", "index": 0 }]]
    },
    "Error Trigger": {
      "main": [[{ "node": "Preparar Error", "type": "main", "index": 0 }]]
    },
    "Preparar Error": {
      "main": [[{ "node": "Telegram Error", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "timezone": "America/Bogota",
    "executionOrder": "v1"
  },
  "pinData": {}
}
